.addTodoForm {
  display: flex;
  width: 100%;
  justify-content: center;
}

.addTodoForm button {
  width: 5rem;
  background-color: #8ab0f5;
  color: white;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.addTodoForm input {
  border: none;
  outline: none;
  background-color: #f0f0f0;
  padding: 8px;
  border-bottom: solid 2px #a39595;
  margin-right: 0.5rem;
  width: 30rem;
  font-size: 1.2rem;
}

.addTodoForm button:disabled {
  background-color: #5d6779;
  opacity: 0.3;
}
