@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  --color-button-editAdd: rgb(138, 176, 245);
  --color-button-closeDelete: rgb(204, 78, 99);
  --color-background: rgb(163, 149, 149);
}

body {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #efecf1;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.addTask {
  display: flex;
  width: 100%;
  justify-content: center;
}

.addTask button {
  width: 5rem;
  background-color: var(--color-button-editAdd);
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}

.addTask input {
  border: none;
  outline: none;
  background-color: #f0f0f0;
  padding: 8px;
  border-bottom: solid 2px var(--color-background);
  margin-right: 0.5rem;
  width: 30rem;
  font-size: 1.2rem;
}

.content {
  margin-top: 2rem;
  width: 30%;
}

.menu {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 0.5rem 0 0.5rem 0;
}

.menu button {
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  background-color: transparent;
  color: #b4a5c4;
  border: none;
  padding: 0;
  cursor: pointer;
}

.menu .active {
  position: relative;
  color: rgb(57, 57, 136);
}

.active::before {
  position: absolute;
  width: 100%;
  content: '';
  height: 1.6px;
  bottom: -1px;
  background-color: currentColor;
  left: 0;
  right: 0;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.list > li {
  width: 100%;
  display: flex;
  padding: 0.5rem;
  margin: 0.2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.checkText {
  display: flex;
}

.checkText input {
  margin: 0 0.5rem 0 0.5rem;
}

.funButtons {
  display: flex;
}

.funButtons button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.funButtons #edit {
  background-color: var(--color-button-editAdd);
  margin-right: 0.4rem;
}

.funButtons #closeDelete {
  background-color: var(--color-button-closeDelete);
}

.checkText input[type='text'] {
  border: none;
  outline: none;
  background-color: #f0f0f0;
  padding: 8px;
  margin-right: 0.5rem;
  width: 15rem;
}

.checkText span {
  display: inline;
  word-break: break-all;
  font-size: 1rem;
  line-height: 1.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkText span.isDone {
  text-decoration: line-through;
  color: #9194b6;
}

.checkText input[type='checkbox'] {
  position: relative;
  padding: 8px;
  appearance: none;
  border: 1px solid #ddd;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  justify-self: center;
  align-self: center;
}
.checkText input[type='checkbox']:checked {
  background: var(--color-button-editAdd);
}
input[type='checkbox']:checked::before {
  position: absolute;
  content: '\2713';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ddd;
}
